{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- hero area start -->



      <!-- hero area start -->
      <!-- banner part start-->
      <section class="banner_part">
         <div class="container">
            <div class="row align-items-center">
               <div class="col-lg-6 col-xl-6">
                  <div class="banner_text">
                     <div class="banner_text_iner">
                        <h5>Votre passerelle vers le savoir.</h5>
                        <h1>Connectez-vous à une communauté mondiale d'apprenants</h1>
                        <p></p>
                        <p>Quel que soit votre domaine d'intérêt, notre plateforme vous offre un environnement dynamique et interactif pour développer vos compétences. Préparez-vous à repousser les limites de votre apprentissage et à atteindre de nouveaux sommets !</p>
                        <br></br>
                        <a href="#" class="e-btn">Voir les cours </a>
                        <a href="#" class="e-btn">Commencer maintenant </a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- banner part start-->
      <!-- member_counter counter start -->
      <section class="member_counter">
         <div class="container">
            <div class="row">
               <div class="col-lg-3 col-sm-6">
                  <div class="single_member_counter">
                     <span class="counter">+15</span>
                     <h4>Formateurs</h4>
                  </div>
               </div>
               <div class="col-lg-3 col-sm-6">
                  <div class="single_member_counter">
                     <span class="counter">+115</span>
                     <h4> étudiants</h4>
                  </div>
               </div>
               <div class="col-lg-3 col-sm-6">
                  <div class="single_member_counter">
                     <span class="counter">+100</span>
                     <h4>Cours</h4>
                  </div>
               </div>
               <div class="col-lg-3 col-sm-6">
                  <div class="single_member_counter">
                     <span class="counter">+10</span>
                     <h4>Outils IA</h4>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- member_counter counter end -->
      <!-- feature_part start-->
      <section class="feature_part">
         <div class="container">
            <div class="row">
               <div class="col-sm-6 col-xl-3 align-self-center">
                  <div class="single_feature_text ">
                     <h2>ENA <br> Education</h2>
                     <p> Libérez votre potentiel avec notre approche d'apprentissage novatrice, combinant flexibilité et motivation.</p>
                     <br>
                     <a href="#" class="e-btn">Commencez Maintenant</a>
                  </div>
               </div>
               <div class="col-sm-6 col-xl-3">
                  <div class="single_feature">
                     <div class="single_feature_part">
                        <span class="single_feature_icon"><i class="ti-layers"></i></span>
                        <h4>Supports videos et documents</h4>
                        <p>Notre plateforme propose des supports vidéos et documents enrichissants pour un apprentissage complet.</p>
                     </div>
                  </div>
               </div>
               <div class="col-sm-6 col-xl-3">
                  <div class="single_feature">
                     <div class="single_feature_part">
                        <span class="single_feature_icon"><i class="ti-new-window"></i></span>
                        <h4>Formateurs professionels</h4>
                        <p>Nos formateurs professionnels vous accompagnent avec expertise et passion pour votre réussite.</p>
                     </div>
                  </div>
               </div>
               <div class="col-sm-6 col-xl-3">
                  <div class="single_feature">
                     <div class="single_feature_part single_feature_part_2">
                        <span class="single_service_icon style_icon"><i class="ti-light-bulb"></i></span>
                        <h4>Outils d'apprentissage IA integrés</h4>
                        <p>Avec des outils d'apprentissage IA intégrés, optimisez votre expérience d'apprentissage.</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- upcoming_event part start-->

      <!-- learning part start-->
      <section class="learning_part">
         <div class="container">
            <div class="row align-items-sm-center align-items-lg-stretch">
               <div class="col-md-7 col-lg-7">
                  <div class="learning_img">
                     <img src="{% static 'etrain/img/learning_img.png' %}" alt="">
                  </div>
               </div>
               <div class="col-md-5 col-lg-5">
                  <div class="learning_member_text">
                     <h5>à propos de nous</h5>
                     <h2>Où les possibilités d'apprentissage sont infinies</h2>
                     <p>Une plateforme de e-learning qui rassemble des étudiants du monde entier et des instructeurs compétents. Notre objectif est de vous offrir une expérience d'apprentissage en ligne enrichissante et flexible. Avec nos outils d'apprentissage IA intégrés, vous bénéficiez d'une approche personnalisée et adaptée à vos besoins. Que vous souhaitiez acquérir de nouvelles compétences, approfondir vos connaissances ou préparer un examen, nous avons une gamme diversifiée de cours pour vous.</p>
                     <ul>
                        <li><span class="ti-pencil-alt"></span>Rejoignez notre communauté dynamique et motivée, explorez de nouvelles opportunités d'apprentissage et découvrez le potentiel illimité de l'éducation en ligne.<r</li>
                        <li><span class="ti-ruler-pencil"></span><p>Soyez maître de votre destin académique.</p></li>
                     </ul>
                     <a href="#" class="e-btn">Nous contactez</a>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- learning part end-->







      <!--::review_part start::-->
      <section class="testimonial_part">
         <div class="container-fluid">
            <div class="row justify-content-center">
               <div class="col-xl-5">
                  <div class="section_tittle text-center">
                     <p>Témoignages</p>
                     <h2>Étudiants Satisfaits</h2>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-lg-12">
                  <div class="testimonial_iner owl-carousel">
                     <div class="testimonial_slider">
                        <div class="row">
                           <div class="col-lg-8 col-xl-4 col-sm-8 align-self-center">
                              <div class="testimonial_slider_text">
                                 <p>"ENA Education m'a permis de développer mes compétences et d'élargir mes horizons académiques. Je suis reconnaissant d'avoir accès à une plateforme d'apprentissage aussi complète et motivante. Je recommande ENA Education à tous ceux qui cherchent à se former en ligne."</p>
                                 <h4>Perrial</h4>
                                 <h5>Étudiant en Informatique</h5>
                              </div>
                           </div>
                           <div class="col-lg-4 col-xl-2 col-sm-4">
                              <div class="testimonial_slider_img">
                                 <img src="{% static 'etrain/img/testimonial_img_1.png' %}" alt="#">
                              </div>
                           </div>
                           <div class="col-xl-4 d-none d-xl-block">
                              <div class="testimonial_slider_text">
                                 <p>"Grâce à ENA Education, j'ai pu améliorer mes compétences professionnelles et me préparer efficacement pour ma carrière. Les cours sont bien structurés et les ressources disponibles sont de grande qualité. Je recommande vivement cette plateforme d'apprentissage."</p>
                                 <h4>Iheb Dahkli</h4>
                                 <h5>Étudiant en Gestion des Entreprises</h5>
                              </div>
                           </div>
                           <div class="col-xl-2 d-none d-xl-block">
                              <div class="testimonial_slider_img">
                                 <img src="{% static 'etrain/img/testimonial_img_2.png' %}" alt="#">
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="testimonial_slider">
                        <div class="row">
                           <div class="col-lg-8 col-xl-4 col-sm-8 align-self-center">
                              <div class="testimonial_slider_text">
                                 <p>"ENA Education m'a offert une expérience d'apprentissage en ligne exceptionnelle. Les cours sont interactifs et les instructeurs sont hautement qualifiés. J'ai pu acquérir de nouvelles compétences et élargir mon réseau professionnel. Je recommande ENA Education à tous les étudiants passionnés."</p>
                                 <h4>Leila Bendhief</h4>
                                 <h5>Étudiante en Marketing</h5>
                              </div>
                           </div>
                           <div class="col-lg-4 col-xl-2 col-sm-4">
                              <div class="testimonial_slider_img">
                                 <img src="{% static 'etrain/img/testimonial_img_3.png' %}" alt="#">
                              </div>
                           </div>
                           <div class="col-xl-4 d-none d-xl-block">
                              <div class="testimonial_slider_text">
                                 <p>"ENA Education m'a permis de suivre des cours en ligne de haute qualité, tout en travaillant à temps plein. J'ai pu améliorer mes compétences techniques et progresser dans ma carrière. Je suis reconnaissant d'avoir eu accès à cette plateforme d'apprentissage."</p>
                                 <h4>Zeineb Arfaoui</h4>
                                 <h5>Étudiante en Développement Web</h5>
                              </div>
                           </div>
                           <div class="col-xl-2 d-none d-xl-block">
                              <div class="testimonial_slider_img">
                                 <img src="{% static 'etrain/img/testimonial_img_1.png' %}" alt="#">
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      
      
      
      
      
      <!--::blog_part end::-->
    
    <!-- cta area end -->
     <!-- ================================= -->
   <!-- footer part end-->


{% endblock %}